{{- $email := promptStringOnce . "email" "Email address" -}}

{{- $givenName := promptStringOnce . "givenName" "Computer name" -}}

{{- $isWorkLaptop := promptStringOnce . "isWorkLaptop" "Is this a work laptop? y/n" -}}

[data]
    email = {{ $email | quote }}
    computerName = {{ $givenName | quote }}
    isWorkLaptop = {{ $isWorkLaptop | quote }}

[edit]
    command = "code"
    args = ["--wait"]
